<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task Manager - Home</title>
  <link rel="stylesheet" href="index-style.css" />
</head>
<body>
  <div class="index-container">
    <h1>Welcome to Task Manager</h1>
    <nav>
      <ul class="nav-links">
        <li><a href="/Add-Task">Add Task</a></li>
        <li><a href="/View">View Tasks & Complete</a></li>
        <li><a href="/Complete">Task Timings</a></li>
		<li><a href="/filter">History</a></li>
		<li><a href="/durations">Durations</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>
